@model FactoryDataClient.ViewModels.TagDetailViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tag Details</h2>

<div>
    @Html.HiddenFor(model => model.Tag.Id, new { @id = "tagId" })
    <h4>@Html.DisplayFor(model => model.Tag.Name)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tag.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tag.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TagType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TagType.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Plc.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plc.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tag.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tag.IsActive)
        </dd>

    </dl>
</div>

<p>


    @Html.ActionLink("Back to List", "Index")

</p>

